{% extends 'base.html.twig' %}

{% block title %}{{ 'security.change_password.page_title'|trans }}{% endblock %}

{% block body %}
    <main class="auth-page">
        <section class="auth-card">
            {% include 'security/_card_header.html.twig' with { title: 'security.change_password.title' } %}

            {% include 'security/_flashes.html.twig' %}

            <form method="post" class="auth-form">
                <label class="auth-field" for="change-password-current">
                    <span>{{ 'security.change_password.current_password'|trans }}</span>
                    <input
                        id="change-password-current"
                        name="current_password"
                        type="password"
                        required
                        autocomplete="current-password"
                    >
                </label>

                <label class="auth-field" for="change-password-new">
                    <span>{{ 'security.change_password.new_password'|trans }}</span>
                    <input
                        id="change-password-new"
                        name="new_password"
                        type="password"
                        required
                        autocomplete="new-password"
                    >
                </label>

                <label class="auth-field" for="change-password-confirm">
                    <span>{{ 'security.change_password.new_password_confirm'|trans }}</span>
                    <input
                        id="change-password-confirm"
                        name="new_password_confirm"
                        type="password"
                        required
                        autocomplete="new-password"
                    >
                </label>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('change_password') }}">

                <button type="submit">{{ 'security.change_password.submit'|trans }}</button>
            </form>

            {% include 'security/_links.html.twig' with {
                links: [
                    { route: 'app_home', label: 'security.change_password.to_home' },
                    { route: 'app_contact', label: 'security.login.to_contact' }
                ]
            } %}
        </section>
    </main>
{% endblock %}
