{% extends 'base.html.twig' %}

{% block title %}{{ 'security.register.page_title'|trans }}{% endblock %}

{% block body %}
    <main class="auth-page">
        <section class="auth-card">
            {% include 'security/_card_header.html.twig' with { title: 'security.register.title' } %}

            {% include 'security/_flashes.html.twig' %}

            <form method="post" class="auth-form">
                {% include 'security/_honeypot_field.html.twig' with { honeypotId: 'register-website' } %}
                <label class="auth-field" for="register-email">
                    <span>{{ 'security.register.email'|trans }}</span>
                    <input
                        id="register-email"
                        name="email"
                        type="email"
                        required
                        autocomplete="email"
                    >
                </label>

                <label class="auth-field" for="register-password">
                    <span>{{ 'security.register.password'|trans }}</span>
                    <input
                        id="register-password"
                        name="password"
                        type="password"
                        required
                        autocomplete="new-password"
                    >
                </label>

                <label class="auth-field" for="register-password-confirm">
                    <span>{{ 'security.register.password_confirm'|trans }}</span>
                    <input
                        id="register-password-confirm"
                        name="password_confirm"
                        type="password"
                        required
                        autocomplete="new-password"
                    >
                </label>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('register') }}">
                {% include 'security/_turnstile.html.twig' %}

                <button type="submit">{{ 'security.register.submit'|trans }}</button>
                {% include 'security/_google_oidc_button.html.twig' %}
            </form>

            {% include 'security/_links.html.twig' with {
                links: [
                    { route: 'app_login', label: 'security.register.to_login' },
                    { route: 'app_forgot_password', label: 'security.login.to_forgot' },
                    { route: 'app_contact', label: 'security.login.to_contact' }
                ]
            } %}
        </section>
    </main>
    {% include 'security/_turnstile_script.html.twig' %}
{% endblock %}
