{% set localeSelectId = localeSelectId|default('admin-header-locale-select') %}
{% set localeHiddenFields = localeHiddenFields|default({}) %}
{% set backPath = backPath|default(path('app_dashboard', { locale: app.request.locale })) %}
<div class="catalog-header-tools">
    <a class="header-translations-link" href="{{ backPath }}">{{ backLabel }}</a>
    <div class="header-theme" data-controller="theme-switcher">
        <label for="{{ localeSelectId }}-theme">{{ 'common.theme'|trans }}</label>
        <select id="{{ localeSelectId }}-theme" data-theme-switcher-target="select" data-action="change->theme-switcher#change">
            <option value="default">{{ 'common.theme.default'|trans }}</option>
            <option value="official">{{ 'common.theme.official'|trans }}</option>
            <option value="terminal">{{ 'common.theme.terminal'|trans }}</option>
        </select>
    </div>
    <form class="header-locale" method="get">
        {% for field, value in localeHiddenFields %}
            {% if value is not same as(null) and value != '' %}
                <input type="hidden" name="{{ field }}" value="{{ value }}">
            {% endif %}
        {% endfor %}
        <img class="header-locale-icon" src="/assets/icons/language.svg" alt="" aria-hidden="true">
        <label for="{{ localeSelectId }}">{{ 'common.language'|trans }}</label>
        <select id="{{ localeSelectId }}" name="locale" onchange="this.form.submit()">
            {% include '_locale_options.html.twig' %}
        </select>
    </form>
</div>
