{% set localeSelectId = localeSelectId|default('admin-header-locale-select') %}
{% set localeHiddenFields = localeHiddenFields|default({}) %}
{% set backPath = backPath|default(path('app_dashboard', { locale: app.request.locale })) %}
<div class="catalog-header-tools">
    <a class="header-translations-link" href="{{ backPath }}">{{ backLabel }}</a>
    <form class="header-locale" method="get">
        {% for field, value in localeHiddenFields %}
            {% if value is not same as(null) and value != '' %}
                <input type="hidden" name="{{ field }}" value="{{ value }}">
            {% endif %}
        {% endfor %}
        <img class="header-locale-icon" src="/assets/icons/language.svg" alt="" aria-hidden="true">
        <label for="{{ localeSelectId }}">{{ 'common.language'|trans }}</label>
        <select id="{{ localeSelectId }}" name="locale" onchange="this.form.submit()">
            {% include '_locale_options.html.twig' %}
        </select>
    </form>
</div>
