<div class="catalog-toolbar">
    <label class="field">
        <span>{{ 'dashboard.filters.player'|trans }}</span>
        <select data-{{ targetPrefix }}-target="playerSelect"></select>
    </label>
    <label class="field">
        <span>{{ 'dashboard.filters.search'|trans }}</span>
        <input type="search" placeholder="{{ 'dashboard.filters.search_placeholder'|trans }}" data-{{ targetPrefix }}-target="searchInput">
    </label>
</div>
